/* Optimized with parcel-css 
 * https://github.com/parcel-bundler/parcel-css
 * https://parcel-css.vercel.app/
*/
html {
  scroll-behavior: smooth;
  font-size: 130%;
}
body {
  border-top: 0;
  margin-top: 0;
  margin-bottom: 200px;
  margin-left: 5%;
  padding-top: 0;
  font-family: "IBM Plex Sans", "Fira Sans", Frutiger, "Frutiger Linotype", Univers, Ubuntu, Calibri, "Myriad Pro", Myriad, "DejaVu Sans Condensed", Optima, Candara, "Noto Sans", source-sans-pro, "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}
h1,
h2,
aside,
.my_name .button {
  font-family: "IBM Plex Sans", Roboto, 'Helvetica Neue', Helvetica, Univers, "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", Inter, "Nimbus Sans", "Nimbus Sans L", Tahoma, Geneva, Arial, sans-serif;
}
h1 {
  text-decoration: none;
  margin-bottom: 15px;
}
header,
aside,
nav,
section,
footer {
  display: block;
}
a {
  color: #495ec9;
  text-decoration: none;
}
a:hover {
  background-color: #ebebeb;
}
code,pre {
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}
.button {
  color: #fff;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #4e68c7;
  border-radius: 0;
  border: 0;
  outline: 0;
  margin-bottom: 20px;
  padding: 9px 12px;
  font-size: 80%;
  line-height: 1.4;
  text-decoration: none;
  display: inline-block;
  position: relative;
  top: -5px;
}
.button:hover {
  color: #fff;
  background: #3d57b4;
}
.my_name {
  font-size: 150%;
  line-height: 1;
}
#my_name_for_menu {
  width: 240px;
  margin-bottom: 25px;
}
#my_name_for_mobile {
  margin-top: 25px;
  margin-bottom: -20px;
  display: none;
}
.text_cursor {
  height: 24px;
  width: 4px;
  background: #3d57b4;
  margin-left: 3px;
  animation: cursor 1.5s infinite;
  display: inline-block;
  position: relative;
  top: 2px;
}
#menu {
  width: 250px;
  position: fixed;
  top: 37px;
  overflow-x: hidden;
}
#main {
  max-width: 750px;
  min-width: 300px;
  margin-left: 250px;
  margin-right: 25px;
}
#main p {
  margin-bottom: 28px;
}
#main ul {
  margin-bottom: 28px;
  margin-left: -15px;
  list-style-type: square;
}
#main li {
  margin-bottom: 3px;
}
.section_title {
  margin-top: 28px;
  margin-bottom: 19px;
  font-size: 170%;
  text-decoration: underline;
}
.project_box {
  border-left: 7px solid #ccc;
  margin-bottom: 40px;
}
.project_title {
  margin-top: 10px;
  margin-bottom: 8px;
  margin-left: 20px;
  font-size: 165%;
  font-weight: 700;
}
.int_image {
  border: 0;
  background-color: #fff !important;
}
a.int_image:hover {
  background-color: #fff !important;
}
.int_image img {
  width: 40%;
  float: left;
  border: 1px solid #000;
  margin: 5px 10px 4px 20px;
  background-color: #fff !important;
}
.project_description {
  margin: 5px 20px 30px;
}
.project_description a:hover {
  background-color: #ebebeb !important;
}
.newsweek {
  font-style: italic;
}
@media only screen and (max-width: 650px) {
  body {
    margin-bottom: 30px;
    margin-left: 10px;
  }
  aside {
    display: none;
  }
  #main {
    margin-left: 10px;
    margin-right: 10px;
  }
  #name_for_mobile {
    display: block;
  }
}
@media only screen and (max-width: 480px) {
  .project_title {
    margin-bottom: 2px;
  }
  .project_description,
  img {
    display: none;
  }
}
/* Legit forget what this is for */
@keyframes cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
