body {
  border-top: 0;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 500px;
  margin-left: 5%;
  font-family: helvetica, arial, sans-serif;
  line-height: 1.55555;
  font-size: 18px;

}

header, aside, nav, section, footer {
  display: block;
}

a {
  color: #495EC9;
  text-decoration: none;

}
a:hover {
  background-color: #ebebeb;
}

.button {
  display:inline-block;
  border:0;
  border-radius:0;
  outline:0;
  background:#4e68c7;
  color:white;
  white-space:nowrap;
  font-size: 13px;
  font-family: 'helvetica neue', 'helvetica', arial;
  text-decoration: none;
  padding:9px 12px;
  line-height:1.4;
  position:relative;
  top:-5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.button:hover {
  color:white;
  background:#3d57b4; 
}


.my_name {
  font-family: 'helvetica neue', 'helvetica', arial;
  font-size: 28px; 
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;   
}

#my_name_for_menu {
  margin-bottom: 25px;
  width:240px;
}

#my_name_for_mobile {
  margin-top: 25px;
  margin-bottom: -20px;
  display: none;
}

.text_cursor {
  -webkit-animation: cursor 1.5s infinite;
  animation: cursor 1.5s infinite;
  background: #3d57b4;
  display: inline-block;
  position: relative;
  top: 2px;
  margin-left: 3px;
  height: 23px;
  width: 13px;
}

#menu {
  position: fixed;
  width: 250px;
  overflow-x: hidden;
}

#main {
  margin-left: 235px;
  max-width: 600px;
  min-width: 300px;
  margin-right: 25px;
}

#main p{
  margin-bottom: 28px;
}

#main ul {
  list-style-type:square;
  margin-left:-15px;
  margin-bottom: 28px;
}

#main li {
  margin-bottom: 3px;   
}


.section_title {
  margin-top: 28px;
  margin-bottom: 19px;
  font-family: 'georgia', 'helvetica neue', 'helvetica', arial;
  font-size: 28px;
  font-style: italic;
}

.project_box {
  background-color: white; /* #fcfbcc; */
  border-left: 7px #ccc solid;
  margin-bottom: 40px;  
}

.project_title {
  font-size: 26px;
  font-family: 'helvetica neue', 'helvetica', arial;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 8px;
}

.int_image {   
  border:0; 
  background-color: white !important;
  
}

a.int_image:hover {
  background-color: white !important;
}

.int_image img {
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 20px;
  margin-bottom: 4px; 
  width: 40%; 
  float: left;
  border: 1px black solid;
  background-color: white !important;
}

.project_description {
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  /* text-align: justify; */

}

.project_description a:hover {
  background-color: #ebebeb !important; /* was #ccc */ 
}

.newsweek {
  font-style: italic;
}


@media only screen and (max-width: 650px) {
  body {
    margin-bottom: 30px;
    margin-left: 10px;
  }
  aside {
    display: none;
  }
  #main {
    margin-left: 10px;
    margin-right: 10px;
  }
  #name_for_mobile {
    display: block;
  }

}

@media only screen and (max-width: 480px) {
  .project_title {
    margin-bottom: 2px;
  }
  .project_description, img {
    display: none;
  }
}

@-webkit-keyframes cursor {
  0% {
    opacity:0
  }
  50% {
    opacity:1
  }
  to {
    opacity:0
  }
}
@keyframes cursor {
  0% {
    opacity:0
  }
  50% {
    opacity:1
  }
  to {
    opacity:0
  }
}
