  /* CSS for theater */
/*
  #story{
    float: left;
    position: relative;
    width: 250px;
    overflow-x: hidden;
    margin-right: 10px;  
    font-family: helvetica, arial;
  }

  #story img {
    width: 250px;
    
  }

  .chapter {
    margin-bottom: 40px;
  }
  .th-thumb {
    margin-left: auto;
    margin-right: auto;
  }



  .title {
    font-size: 26px;
    font-family: 'helvetica neue', 'helvetica', arial;
    margin-top: 20px;
  }
*/