@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/Fira_Sans/FiraSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/Fira_Sans/FiraSans-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/Fira_Sans/FiraSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  border-top: 0;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 200px;
  margin-left: 3%;
  font-family: "Fira Sans", "Source Pro Sans", helvetica, sans-serif;
  line-height: 1.55555;
  font-size: 133%;
}

header, aside, nav, section, footer {
  display: block;
}

h1 {
  font-family: Roboto, Helvetica;
}
a {
  color: #495EC9;
  text-decoration: none;

}
a:hover {
  background-color: #ebebeb;
}

.text_cursor {
  -webkit-animation: cursor 1.5s infinite;
  animation: cursor 1.5s infinite;
  background: #3d57b4;
  display: inline-block;
  position: relative;
  top: 2px;
  margin-left: 3px;
  height: 22px;
  width: 4px;
}

#menu {
  font-size: 270%;
  font-family: Roboto, Helvetica;
  position: fixed;
  width: 500px;
  overflow-x: hidden;
}

#name_for_mobile {
  font-size: 270%;
  font-family: Roboto, Helvetica;
  display: none;
}

#main {
  margin-left: 343px;
  max-width: 700px;
  min-width: 300px;
  margin-right: 25px;
}

#main ul {
  list-style-type:square;
  margin-left:-15px;
  margin-bottom: 28px;
}

#main li {
  margin-bottom: 3px;   
}

.section_title {
  padding-top: 12px;
  margin-bottom: 16px;
  line-height:1.05;
  font-family: 'Roboto', 'helvetica neue', 'helvetica', arial;
  font-size: 270%;
  font-weight: normal;
}

@media only screen and (max-width: 900px) {
  body {
    font-size: 100%;
    margin-bottom: 30px;
    width: 100%;
    /* margin-left: 10px; */
  }
  #menu {
    display: none;
  }
  #main {
    margin-left: 10px;
    margin-right: 10px;
  }
  #name_for_mobile {
    display: block;
  }

  .section_title {
    padding-top: 0px;
    margin-top: 3px;
    font-size: 170%;

  }
}

@media only screen and (max-width: 480px) {
  .project_title {
    margin-bottom: 2px;
  }
  .project_description, img {
    display: none;
  }
}

@-webkit-keyframes cursor {
  0% {
    opacity:0
  }
  50% {
    opacity:1
  }
  to {
    opacity:0
  }
}
@keyframes cursor {
  0% {
    opacity:0
  }
  50% {
    opacity:1
  }
  to {
    opacity:0
  }
}
